.root {
    border: 0.5004362463951111px solid #d8d8d8;
    border-radius: 24px;
    padding: 12px 16px;
    display: flex;
    width: 350px;
    box-sizing: border-box;
}
.input {
    border: 0;
    flex-grow: 1;
    margin-inline-start: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    outline: none;
    &::placeholder {
        color: #000000;
    }
}
