.root {
    flex-grow: 1;
}
.title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 12px;
}
.subscribe {
    width: 100%;
    background: #ffffff;
    padding: 5px;
    border-radius: 24px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 30px;
    input {
        width: 100%;
        border: 0;
        padding: 0 10px;
        outline: none;
        &::placeholder {
            color: var(--primary-color);
            font-size: 12px;
        }
    }
    button {
        background: var(--secondary-color);
        height: 38px;
        padding: 8px 16px;
        border-radius: 19px;
        font-weight: 600;
        font-size: 10px;
        svg {
            margin-inline-start: 8px;
        }
    }
}

.social {
    display: flex;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    li {
        margin-bottom: 16px;
        a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: -0.4px;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.horizontalDivider {
    background: #777777;
    width: 0.5px;
    margin: 0 50px;
}
.pages {
    > button {
        margin-bottom: 10px;
        align-items: center;
        span {
            color: #ffffff;
            font-size: 16px;
            margin-inline-start: 10px;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}
