.quantity {
    background: #f5f5f5;
    border: 0.5px solid #d9d9d9;
    border-radius: 24px;
    padding: 5px;
    width: fit-content;
    display: flex;
    margin-top: 20px;
}

.quantityButton {
    background: #fff200;
    border-radius: 30px;
    min-width: 37px;
    height: 37px;
    justify-content: center;
}
.quantityInput {
    background: transparent;
    border: 0;
    text-align: center;
    flex-grow: 1;
    margin: 0 16px;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    width: 132px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
}
